
body {
  	font-family:'Lato', sans-serif;
  	margin: 0;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

a { 
	color: #1A48E3;
  	font-weight: bold;
  	text-decoration: none;
  	transition: .3s}

.container {
	width: 800px; 
	margin: 0px auto;
}

.banner {
	background-image: url(poignee_main.jpg) ; 
	background-size: cover ; 
	padding: 100px;
	color: black;
	text-align: center;
  background-position: center; 
}


.banner h1 {
	color : white;  
	font-size: 45px; 
	margin:0px;
	color: white;
	text-align: center;
}

.banner img {
  float :right;
  float :top;
} 

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 600px;
  height: 400px;
  text-align: center;
  padding: 100px;
  margin: 0px 0px;
}

.card-white img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
 } 

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

 .footer {
  	background: #404042;
  	text-align: center;
  	padding: 24px 0;
  	color: white;
}